<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 Datastrato.
  ~ This software is licensed under the Apache License version 2.
  -->

<Configuration status="info" name="Graviton" packages="" monitorInterval="10">
  <properties>
    <property name="LOG_HOME">/data/logs/${env:logName}</property>
    <property name="COMMON_FILE_NAME">${env:logName}</property>
    <property name="MAX_FILE_SIZE" value="500MB"></property>
    <property name="MAX_FILE_COUNT" value="5"></property>
    <Property name="FILE_LOG_PATTERN"
      value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%traceId]  %level [%thread][%file:%line]  - %msg%n"></Property>
  </properties>


  <appenders>
    <console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
    </console>

    <RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/info.log"
      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
      <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
      </Policies>
    </RollingFile>

    <RollingFile name="RollingFileWarn" fileName="${sys:user.home}/logs/warn.log"
      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
      <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile
    >
    <RollingFile name="RollingFileError" fileName="${sys:user.home}/logs/error.log"
      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
      <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
      </Policies>
    </RollingFile>
  </appenders>
  <loggers>
    <root level="INFO">
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFileInfo"/>
      <appender-ref ref="RollingFileWarn"/>
      <appender-ref ref="RollingFileError"/>
    </root>
  </loggers>

</Configuration>