<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright 2023 Datastrato.
  ~ This software is licensed under the Apache License version 2.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>gravitino-web</display-name>

  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>

  <context-param>
    <param-name>configuration</param-name>
    <param-value>deployment</param-value>
  </context-param>

  <session-config>
    <cookie-config>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
  </session-config>
</web-app>
