{{- /*
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  */}}

{{- if .Values.podDisruptionBudget.enabled }}
{{- $minAvailableSet := and (ne (toString .Values.podDisruptionBudget.minAvailable) "") (or .Values.podDisruptionBudget.minAvailable (eq (.Values.podDisruptionBudget.minAvailable | int) 0)) }}
{{- $maxUnavailableSet := ne (toString .Values.podDisruptionBudget.maxUnavailable) "" }}
{{- if and $minAvailableSet $maxUnavailableSet }}
{{- fail "podDisruptionBudget.minAvailable and podDisruptionBudget.maxUnavailable cannot both be specified. Please specify only one." }}
{{- end }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "gravitino-lance-rest-server.fullname" . }}
  namespace: {{ include "gravitino-lance-rest-server.namespace" . }}
  labels:
    {{- include "gravitino-lance-rest-server.labels" . | nindent 4 }}
    {{- with .Values.podDisruptionBudget.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.podDisruptionBudget.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "gravitino-lance-rest-server.selectorLabels" . | nindent 6 }}
  {{- if $minAvailableSet }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if $maxUnavailableSet }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
{{- end }}
