# Copyright 2024 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.

# the tools to publish the python client to Pypi
requests==2.32.2
dataclasses-json==0.6.6
readerwriterlock==1.0.9
fsspec==2024.3.1
pyarrow==15.0.2
cachetools==5.3.3