# Copyright 2024 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.

# the tools to publish the python client to Pypi
requests
dataclasses-json
readerwriterlock
fsspec>=2024.3.1
pyarrow>=15.0.2