name: Automatically cherry-pick merged PR to different branches

on:
  pull_request_target:
    branches:
      - main
    types: ["closed"]

jobs:
  cherry_pick_branch_0_8:
    runs-on: ubuntu-latest
    name: Cherry pick into branch_0.8
    if: ${{ contains(github.event.pull_request.labels.*.name, 'branch-0.8') && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cherry pick into branch-0.8
        uses: carloscastrojumo/github-cherry-pick-action@503773289f4a459069c832dc628826685b75b4b3
        with:
          branch: branch-0.8
          labels: |
            cherry-pick
          reviewers: |
            jerryshao
            FANNG1

  cherry_pick_branch_0_9:
    runs-on: ubuntu-latest
    name: Cherry pick into branch_0.9
    if: ${{ contains(github.event.pull_request.labels.*.name, 'branch-0.9') && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cherry pick into branch-0.9
        uses: carloscastrojumo/github-cherry-pick-action@503773289f4a459069c832dc628826685b75b4b3
        with:
          branch: branch-0.9
          labels: |
            cherry-pick
          reviewers: |
            jerqi

  cherry_pick_branch_1_0:
    runs-on: ubuntu-latest
    name: Cherry pick into branch_1.0
    if: ${{ contains(github.event.pull_request.labels.*.name, 'branch-1.0') && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cherry pick into branch-1.0
        uses: carloscastrojumo/github-cherry-pick-action@503773289f4a459069c832dc628826685b75b4b3
        with:
          branch: branch-1.0
          labels: |
            cherry-pick
          reviewers: |
            jerryshao

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
