name: Cron Integration Test

# Controls when the workflow will run
on:
  schedule: # Runs by default on main branch
    - cron: '0 19 * * *' # Runs every day at 19:00 PM UTC, equal to 03:00 AM the next day in GMT+8 time zone

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ contains(github.ref, 'main') }}

jobs:
  changes:
    if: github.repository == 'apache/gravitino'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            source_changes:
              - .github/**
              - api/**
              - bin/**
              - catalogs/**
              - clients/**
              - common/**
              - conf/**
              - core/**
              - dev/**
              - gradle/**
              - iceberg/**
              - integration-test/**
              - meta/**
              - server/**
              - server-common/**
              - spark-connector/**
              - trino-connector/**
              - web/**
              - docs/open-api/**
              - build.gradle.kts
              - gradle.properties
              - gradlew
              - setting.gradle.kts
    outputs:
      source_changes: ${{ steps.filter.outputs.source_changes }}

  # Integration test for AMD64 architecture
  test-amd64-arch:
    needs: changes
    if: needs.changes.outputs.source_changes == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 120
    strategy:
      matrix:
        architecture: [linux/amd64]
        java-version: [ 17 ]
        test-mode: [ embedded, deploy ]
    env:
      DOCKER_RUN_NAME: hive-amd64
      PLATFORM: ${{ matrix.architecture }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'gradle'


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Package Gravitino
        run: |
          ./gradlew compileDistribution -x test -PjdkVersion=${{ matrix.java-version }}

      - name: Free up disk space
        run: |
          dev/ci/util_free_space.sh

      - name: Integration Test
        id: integrationTest
        run: |
          ./gradlew test -PskipTests -PtestMode=${{ matrix.test-mode }} -PjdkVersion=${{ matrix.java-version }} -PskipDockerTests=false

      - name: Upload integrate tests reports
        uses: actions/upload-artifact@v4
        if: ${{ failure() && steps.integrationTest.outcome == 'failure' }}
        with:
          name: integrate test reports
          path: |
            build/reports
            iceberg/iceberg-rest-server/build/*.log
            integration-test/build/*.log
            integration-test/build/*.tar
            integration-test/build/trino-ci-container-log
            distribution/package/logs/*.out
            distribution/package/logs/*.log
            catalogs/**/*.log
            catalogs/**/*.tar
            distribution/**/*.log
            spark-connector/v3.3/spark/build/spark-3.3-integration-test.log
            spark-connector/v3.4/spark/build/spark-3.4-integration-test.log
            spark-connector/v3.5/spark/build/spark-3.5-integration-test.log
            flink-connector/build/flink-connector-integration-test.log
            flink-connector/build/*.tar
