name: Integration Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main", "branch-*" ]
  pull_request:
    branches: [ "main", "branch-*" ]

env:
  HIVE2_IMAGE_NAME: datastrato/hive2
  HIVE2_IMAGE_VERSION: 0.1.0
  HIVE2_IMAGE_LATEST: latest

concurrency:
  group: ${{ github.worklfow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_requests' }}

jobs:
  # Integration test for AMD64 architecture
  test-amd64-arch:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        architecture: [linux/amd64]
    env:
      DOCKER_RUN_NAME: hive2-amd64
      PLATFORM: ${{ matrix.architecture }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build the hive2 Docker image for AMD64
        if: ${{ contains(github.event.pull_request.labels.*.name, 'build docker image') }}
        run: ./dev/docker/hive2/build-docker.sh --platform ${PLATFORM} --image ${HIVE2_IMAGE_NAME}:${HIVE2_IMAGE_LATEST}

      - name: Run AMD64 container
        run: |
          docker run --rm --name ${DOCKER_RUN_NAME} --platform ${PLATFORM} -d -p 8088:8088 -p 50070:50070 -p 50075:50075 -p 10000:10000 -p 10002:10002 -p 8888:8888 -p 9083:9083 -p 8022:22 ${HIVE2_IMAGE_NAME}:${HIVE2_IMAGE_LATEST}
          docker ps -a

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: '8.1.1'

      - name: Show gradle version
        run: gradle --version

      - name: Package Graviton
        run: |
          gradle build
          gradle compileDistribution

      - name: Setup Debug Action
        if: ${{ contains(github.event.pull_request.labels.*.name, 'debug action') }}
        uses: csexton/debugger-action@master

      - name: Integration Test
        run: |
          gradle integrationTest

      - name: Print logs when Graviton integration tests failure
        if: ${{ failure() }}
        run: |
          if [ -f "distribution/package/logs/graviton-server.out" ]; then
            cat distribution/package/logs/graviton-server.out
          fi
          if [ -f "distribution/package/logs/graviton-server.log" ]; then
            cat distribution/package/logs/graviton-server.log
          fi

      - name: Stop and remove container
        run: |
          docker stop ${DOCKER_RUN_NAME}
          sleep 3
          docker ps -a
          docker rmi ${HIVE2_IMAGE_NAME}:${HIVE2_IMAGE_LATEST}