name: Python Client Integration Test

# Controls when the workflow will run
on:
  push:
    branches: [ "main", "branch-*" ]
  pull_request:
    branches: [ "main", "branch-*" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            source_changes:
              - .github/**
              - api/**
              - authorizations/**
              - bin/**
              - catalogs/**
              - clients/client-python/**
              - common/**
              - conf/**
              - core/**
              - dev/**
              - gradle/**
              - iceberg/**
              - meta/**
              - scripts/**
              - server/**
              - server-common/**
              - build.gradle.kts
              - gradle.properties
              - gradlew
              - setting.gradle.kts
    outputs:
      source_changes: ${{ steps.filter.outputs.source_changes }}

  PythonIT:
    needs: changes
    if: needs.changes.outputs.source_changes == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 90
    strategy:
      matrix:
        # Integration test for AMD64 architecture
        architecture: [linux/amd64]
        java-version: [ 17 ]
    env:
      PLATFORM: ${{ matrix.architecture }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'gradle'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Python Client Integration Test
        id: integrationTest
        run: |
          ./gradlew compileDistribution -x test -PjdkVersion=${{ matrix.java-version }}

          for pythonVersion in "3.9" "3.10" "3.11" "3.12"
          do
            echo "Use Python version ${pythonVersion} to test the Python client."
            ./gradlew -PjdkVersion=${{ matrix.java-version }} -PpythonVersion=${pythonVersion} -PskipDockerTests=false :clients:client-python:test
            # Clean Gravitino database to clean test data
            rm -rf ./distribution/package/data
          done

      - name: Upload integrate tests reports
        uses: actions/upload-artifact@v4
        if: ${{ failure() && steps.integrationTest.outcome == 'failure' }}
        with:
          name: integrate test reports
          path: |
            build/reports
            integration-test/build/integration-test.log
            distribution/package/logs/gravitino-server.out
            distribution/package/logs/gravitino-server.log
            catalogs/**/*.log
            catalogs/**/*.tar
