#
# Copyright 2023 Datastrato.
# This software is licensed under the Apache License version 2.
#

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.gradle
.next
.node
.vscode
build
node_modules
dist
